#titulo{
    
    width: max-content;
    margin:0 auto;
    border-radius: 32%;
    text-align: center;
    background-color: greenyellow;
    
    
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Bandeja{
    padding-left: 36%;
}

#Latabla {
    border:rgb(57, 255, 57) outset;
    border-collapse: collapse;
    
}

#Latabla
{
    background-color: rgb(71, 112, 71);
}
.caja{
    background-color: rgb(143, 255, 139);
}
td{
    border:rgb(57, 255, 57) outset;
}